<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Леша + Аня</title>
        <link rel="icon" href="static/heart.ico" type="image/x-icon" />
        <link rel="stylesheet" href="static/css/style.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <!--    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap"-->
        <!--          rel="stylesheet">-->
        <link
            href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Hachi+Maru+Pop&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div id="temporary-screen" class="fade-in">
            <img src="static/hearts2.gif" alt="Loading..." id="loading-gif" style="width: 100px; height: auto" />
            <b id="typing-text" class="small-text"></b>
        </div>

        <div id="main-content" class="fade-out">
            <div id="content" class="main-container">
                <div class="container">
                    <div>
                        <div class="image-container">
                            <img src="static/lesha_small.PNG" alt="Lesha Small" class="image1 dragImage1" />
                            <img src="static/anya_small.PNG" alt="Anya Small" class="image2 dragImage2" />
                        </div>
                    </div>

                    <div class="text-container text">
                        <p>Лёша + Аня</p>
                        <p>=</p>
                    </div>
                    <img src="static/heart.svg" alt="Heart" class="heart" />
                </div>

                <div class="container">
                    <br />
                    <div class="text-container text">
                        <p>Узнали?</p>
                    </div>
                    <br />
                    <div class="text-container small-text">
                        <p>Время пронеслось незаметно, и у этих</p>
                        <p>милых ребят скоро свадьба!</p>
                        <p>Да-да, мы сами в шоке!</p>
                    </div>
                    <img src="static/sparkle.svg" alt="Star1" class="star-image-1" />
                </div>

                <img src="static/first-image.PNG" alt="Image 1" class="plain-img1" />
                <div class="container">
                    <div class="text-container text">
                        <p>Дорогие наши</p>
                        <p>родные и близкие</p>
                    </div>
                    <br />
                    <div class="text-container small-text">
                        <p>Наша свадьба без вас не будет такой</p>
                        <p>счастливой, уютной и весёлой!</p>
                        <p>Будем рады разделить с вами</p>
                        <p>это радостное событие!</p>
                    </div>
                    <div class="date-pic">
                        <img src="static/oval.svg" class="date-img" />
                        <div class="date-text">
                            <p>10/06/2025</p>
                        </div>
                    </div>
                    <div class="text-container small-text">
                        <p>Просим вас сохранить эту дату свободной</p>
                        <p>для празднования нашей свадьбы.</p>
                    </div>
                    <img src="static/line.svg" alt="line" class="line" />
                </div>

                <div class="container">
                    <div class="text-container text" style="margin-bottom: 3%">
                        <p>Программа дня</p>
                    </div>
                    <div class="text-container small-text">
                        <div class="schedule">
                            <div class="schedule-item">
                                <div class="text">15:00</div>
                                <img src="static/2ikon1.png" class="icon" />
                                <div class="event-info">
                                    <div class="schedule-text">Сбор гостей, велком фуршет</div>
                                    <div class="additional-info">
                                        Насладитесь приветственными напитками, закусками и атмосферой праздника!
                                    </div>
                                </div>
                            </div>

                            <div class="schedule-item">
                                <div class="text">16:00</div>
                                <img src="static/2ikon2.png" class="icon" />
                                <div class="event-info">
                                    <div class="schedule-text">Церемония</div>
                                    <div class="additional-info">
                                        Станьте свидетелями волшебного момента объединения сердец
                                    </div>
                                </div>
                            </div>

                            <div class="schedule-item">
                                <div class="text">17:00</div>
                                <img src="static/2ikon3.png" class="icon" />
                                <div class="event-info">
                                    <div class="schedule-text">Начало банкета</div>
                                    <div class="additional-info">
                                        Приглашаем за стол, чтобы отпраздновать нашу любовь с вкусной едой и весельем
                                    </div>
                                </div>
                            </div>

                            <div class="schedule-item">
                                <div class="text">23:00</div>
                                <img src="static/2ikon4.png" class="icon" />
                                <div class="event-info">
                                    <div class="schedule-text">Окончание мероприятия</div>
                                    <div class="additional-info">
                                        Завершаем этот сказочный вечер, унося с собой тепло сердец и яркие воспоминания
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="text-container text">
                        <p>Место проведения</p>
                    </div>
                    <img src="static/veranda.PNG" alt="Place" class="place-img softDrag" />
                    <div class="text-container small-text">
                        <p>Ждём вас на площадке "Веранда"</p>
                        <p>на территории Усадьбы Суханово</p>
                    </div>
                    <div class="text-container small-text" style="margin-top: 3%">
                        <div class="text-block location" id="locationBlock0">
                            <p>
                                На локации имеется парковка в небольшом отдалении по грунтовой дороге, также имеется
                                возможность доехать на авто до самой Веранды, возле которой имеется зона посадки.
                            </p>
                        </div>
                        <div class="text-block location" id="locationBlock1">
                            <p>
                                Веранда распологается в непосредственной близости к воде, имеет досчатый пол с
                                небольшими щелями - сликом тонкие шпильки могут быть проблемой.
                            </p>
                        </div>
                        <div class="text-block location" id="locationBlock2">
                            <p>Также на площадке имеется ряд ограничений:</p>
                            <ul>
                                <li>- на улице нельзя шуметь послее 21:00</li>
                                <li>- нельзя использовать конфети, бенгальские огни и свечи</li>
                            </ul>
                        </div>
                        <div class="toggle-button" id="locationToggle">▽ Детали</div>
                    </div>

                    <script>
                        const locationToggle = document.getElementById("locationToggle");
                        const locationBlocks0 = document.getElementById("locationBlock0");
                        const locationBlocks1 = document.getElementById("locationBlock1");
                        const locationBlocks2 = document.getElementById("locationBlock2");

                        locationToggle.addEventListener("click", () => {
                            locationBlocks0.classList.toggle("active");
                            locationBlocks1.classList.toggle("active");
                            locationBlocks2.classList.toggle("active");

                            if (locationBlocks0.classList.contains("active")) {
                                locationToggle.textContent = "△ Скрыть";
                            } else {
                                locationToggle.textContent = "▽ Детали";
                            }
                        });
                    </script>

                    <a
                        href="https://yandex.ru/maps/?ll=37.658835%2C55.523584&mode=poi&poi%5Bpoint%5D=37.658567%2C55.523560&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D79022681946&utm_source=share&z=19"
                        class="place-button"
                        target="_blank"
                        >Посмотреть локацию</a
                    >
                </div>

                <div class="container">
                    <div class="text-container text">
                        <p>Дресс-код</p>
                    </div>
                    <div class="text-container small-text" style="margin-top: 3%">
                        <div class="text-block dress-code active" id="block1">
                            <p>
                                Мы будем очень рады, если вы поддержите цветовую палитру нашего праздника. Это поможет
                                создать гармоничную атмосферу и сделать наш праздник еще более особенным.
                            </p>
                        </div>

                        <div class="text-block dress-code" id="block2">
                            <p>
                                Будем благодарны, если вы отдадите предпочтение не ярким нарядам. Также, пожалуйста,
                                избегайте белого и чёрного цветов.
                            </p>
                        </div>

                        <div class="text-block dress-code" id="block3">
                            <p>
                                Если вы планируете носить шпильки, пожалуйста, имейте в виду, что на площадке досчатый
                                пол, и это может создать некоторые неудобства. Мы хотим, чтобы вам было комфортно!
                            </p>
                        </div>
                        <div class="toggle-button" id="toggleButton">▽ Показать подробнее</div>
                    </div>
                    <script>
                        const toggleButton = document.getElementById("toggleButton");
                        <!--                        const blocks = document.querySelectorAll(".text-block .dress-code");-->

                        const block1 = document.getElementById("block2");
                        const block2 = document.getElementById("block3");

                        toggleButton.addEventListener("click", () => {
                            // Переключаем класс active только для блоков 2 и 3
                            block1.classList.toggle("active");
                            block2.classList.toggle("active");

                            // Меняем текст кнопки в зависимости от состояния
                            if (block1.classList.contains("active")) {
                                toggleButton.textContent = "△ Скрыть";
                            } else {
                                toggleButton.textContent = "▽ Показать подробнее";
                            }
                        });
                    </script>

                    <div id="pallete" class="image-row" style="margin-top: 3%">
                        <img src="static/3color1.png" alt="Цвет 1" />
                        <img src="static/3color2.png" alt="Цвет 2" />
                        <img src="static/3color3.png" alt="Цвет 3" />
                        <img src="static/3color4.png" alt="Цвет 4" />
                        <img src="static/3color5.png" alt="Цвет 5" />
                        <img src="static/3color6.png" alt="Цвет 6" />
                    </div>

                    <div class="image-container" style="margin-top: 5%">
                        <button onclick="changeOutfitBackward()" class="place-button" style="margin-bottom: 25%">
                            <
                        </button>
                        <img src="static/color-palette1.PNG" id="outfit-image" class="place-img" />
                        <button onclick="changeOutfitForward()" class="place-button" style="margin-bottom: 25%">
                            >
                        </button>
                    </div>
                </div>
                <script>
                    let currentOutfitImage = 0;
                    let outfitImages = [];
                    let outfitImg = document.getElementById("outfit-image");
                    const totalOutfitImages = 8;

                    function preloadOutfitImages() {
                        for (let i = 0; i < totalOutfitImages; i++) {
                            outfitImages[i] = new Image();
                            outfitImages[i].src = `static/color-palette${i + 1}.PNG`;
                        }
                    }

                    function changeOutfitImages(p) {
                        currentOutfitImage = (currentOutfitImage + p) % totalOutfitImages; // Переключаемся между 1, 2 и 3

                        if (currentOutfitImage < 0) currentOutfitImage = outfitImages.length - 1;

                        outfitImg.classList.add("fadeOut");
                        setTimeout(() => {
                            outfitImg.classList.add("fadeIn");
                            outfitImg.src = outfitImages[currentOutfitImage].src;
                            outfitImg.classList.remove("fadeOut");
                        }, 450);
                    }

                    function changeOutfitForward() {
                        changeOutfitImages(1);
                    }
                    function changeOutfitBackward() {
                        changeOutfitImages(-1);
                    }
                </script>

                <div class="container">
                    <div class="text-container text">
                        <p>Пожелания</p>
                    </div>
                    <div class="text-container small-text" style="margin-top: 20px">
                        <p>Мы очень ценим вашу заботу и внимание, поэтому будем рады любому подарку, не важно, в какой конверт он будет упакован.</p>
                        <p>Если хотите порадовать нас цветами, будем рады подарочному сертификату! Так мы сможем наслаждаться ими даже после медового месяца.</p>
                    </div>
                </div>

                <div class="container" id="slide">
                    <div class="text-container text">
                        <p>Будем вас ждать!</p>
                    </div>
                    <div class="text-container small-text" style="margin-top: 20px">
                        <p>С большой любовью, Лёша и Аня!</p>
                    </div>
                    <img src="static/heart.svg" alt="Heart" class="heart" style="margin-top: 5%; margin-bottom: 3%" />
                    <div class="image-container">
                        <button onclick="changeBackward()" class="place-button" style="margin-bottom: 30%"><</button>
                        <img src="static/smallimage2.png" id="image1" class="image1" style="margin-right: -50%" />
                        <img src="static/smallimage1.png" id="image2" class="image2" />
                        <button onclick="changeForward()" class="place-button" style="margin-bottom: 30%">></button>
                    </div>
                </div>

                <script>
                    let currentImage1 = 1;
                    let currentImage2 = 0;
                    let images = [];
                    let img1 = document.getElementById("image1");
                    let img2 = document.getElementById("image2");
                    const totalImages = 14;

                    function preloadImages() {
                        for (let i = 0; i < totalImages; i++) {
                            images[i] = new Image();
                            images[i].src = `static/smallimage${i + 1}.png`;
                        }
                    }

                    function changeImages(p) {
                        currentImage1 = (currentImage1 + p) % totalImages; // Переключаемся между 1, 2 и 3
                        currentImage2 = (currentImage2 + p) % totalImages; // Переключаемся между 1, 2 и 3

                        if (currentImage1 < 0) currentImage1 = images.length - 1;
                        if (currentImage2 < 0) currentImage2 = images.length - 1;

                        img2.classList.add("fadeOut");
                        setTimeout(() => {
                            img2.classList.add("fadeIn");
                            img2.src = images[currentImage2].src;
                            img2.classList.remove("fadeOut");
                        }, 450);
                        setTimeout(() => {
                            img1.classList.add("fadeOut");
                        }, 200);
                        setTimeout(() => {
                            img1.classList.add("fadeIn");
                            img1.src = images[currentImage1].src;
                            img1.classList.remove("fadeOut");
                        }, 650);
                    }

                    function changeForward() {
                        changeImages(1);
                    }
                    function changeBackward() {
                        changeImages(-1);
                    }
                </script>
            </div>

        </div>
        <script>
            const text = "У нас свадьба!";
            const typingTextElement = document.getElementById("typing-text");
            let index = 0;

            function typeText() {
                if (index < text.length) {
                    typingTextElement.textContent += text.charAt(index);
                    index++;
                    setTimeout(typeText, 150);
                }
            }

            window.onload = function () {
                typeText(); // Start typing animation
                setTimeout(function () {
                    const tempScreen = document.getElementById("temporary-screen");
                    tempScreen.classList.remove("fade-in");
                    tempScreen.classList.add("fade-out");

                    setTimeout(function () {
                        tempScreen.style.display = "none";
                        const mainContent = document.getElementById("main-content");
                        mainContent.style.display = "block";
                        mainContent.classList.remove("fade-out");
                        mainContent.classList.add("fade-in");
                        mainContent.style.opacity = "1";
                    }, 1000);
                }, 4500);
                preloadImages();
                preloadOutfitImages();
            };
        </script>
    </body>
</html>
