<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Леша + Аня</title>
    <link rel="icon" href="static/heart.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet">

</head>
<body>

<div id="temporary-screen" class="fade-in">
    <img src="static/hearts2.gif" alt="Loading..." id="loading-gif" style="width:100px; height: auto;">
    <b id="typing-text"></b>
</div>


<div id="main-content" class="fade-out">
    <div id="content" class="main-container">
        <div class="container">
            <div>
                <div class="image-container">
                    <img src="static/lesha_small.PNG" alt="Lesha Small" class="image1">
                    <img src="static/anya_small.PNG" alt="Anya Small" class="image2">
                </div>
            </div>


            <div class="text-container  text">
                <p>Лёша + Аня</p>
                <p>=</p>
            </div>
            <img src="static/heart.svg" alt="Heart" class="heart">

        </div>


        <div class="container">
            <br>
            <div class="text-container  text">
                <p>Узнали?</p>
            </div>
            <br>
            <div class="text-container  small-text">
                <p>Время пронеслось незаметно, и у этих</p>
                <p>милых ребят скоро свадьба!</p>
                <p>Да-да, мы сами в шоке!</p>
            </div>
            <img src="static/sparkle.svg" alt="Star1" class="star-image-1">


        </div>
        <img src="static/first-image.PNG" alt="Image 1" class="plain-img1 ">
        <div class="container">
            <div class="text-container  text">
                <p>Дорогие наши</p>
                <p>родные и близкие</p>
            </div>
            <br>
            <div class="text-container  small-text">
                <p>Наша свадьба без вас не будет такой</p>
                <p>счастливой, уютной и весёлой!</p>
                <p>Будем рады разделить с вами</p>
                <p>это радостное событие!</p>
            </div>
            <div class="date-pic">
                <img src="static/oval.svg"
                     style="width:50%">
                <div class="date-text">
                    <p>10/06/2025</p>
                </div>
            </div>
            <div class="text-container  small-text">
                <p>Просим вас сохранить эту дату свободной</p>
                <p>для празднования нашей свадьбы.</p>
                <p>Сбор гостей планируется в 15:00.</p>
                <p>Более подробную информацию о празднике</p>
                <p>мы разместим на этом сайте в марте.</p>
            </div>
            <img src="static/line.svg" alt="line" class="line">

        </div>

        <div class="container">
            <div class="text-container  text">
                <p>Место проведения</p>
            </div>
            <img src="static/veranda.PNG" alt="Place" class="place-img">

            <div class="text-container  small-text">
                <p>Ждём вас на площадке "Веранда"</p>
                <p>на территории Усадьбы Суханово</p>
            </div>
            <a href="https://yandex.ru/maps/?ll=37.658835%2C55.523584&mode=poi&poi%5Bpoint%5D=37.658567%2C55.523560&poi%5Buri%5D=ymapsbm1%3A%2F%2Forg%3Foid%3D79022681946&utm_source=share&z=19"
               class="place-button">Посмотреть локацию</a>

        </div>

        <div class="container" id="slide">
            <div class="text-container  text">
                <p>Будем вас ждать!</p>
            </div>
            <img src="static/heart.svg" alt="Heart" class="heart">
            <div class="image-container">
                <img src="static/image3.PNG" id="image1" class="image1" style="margin-right: -300px;">
                <img src="static/image1.PNG" id="image2" class="image2">
            </div>
            <button onclick="changeBackward()" class="place-button"> < </button>
            <button onclick="changeForward()" class="place-button"> > </button>

        </div>

        <script>
            let currentImage1 = 1;
            let currentImage2 = 2;
            const totalImages = 5;

            function changeForward() {
                currentImage1 = (currentImage1 % totalImages) + 1; // Переключаемся между 1, 2 и 3
                document.getElementById('image1').src = `static/image${currentImage1}.PNG`;
                currentImage2 = (currentImage2 % totalImages) + 1; // Переключаемся между 1, 2 и 3
                document.getElementById('image2').src = `static/image${currentImage2}.PNG`;
            }
            function changeBackward() {
                currentImage1 = (currentImage1 - 2 + totalImages) % totalImages + 1; // Переключаемся назад
                document.getElementById('image1').src = `static/image${currentImage1}.PNG`;
                currentImage2 = (currentImage2 - 2 + totalImages) % totalImages + 1; // Переключаемся назад
                document.getElementById('image2').src = `static/image${currentImage2}.PNG`;
            }
        </script>
    </div>
</div>
<script>
    const text = "У нас свадьба!";
    const typingTextElement = document.getElementById('typing-text');
    let index = 0;

    function typeText() {
        if (index < text.length) {
            typingTextElement.textContent += text.charAt(index);
            index++;
            setTimeout(typeText, 150);
        }
    }

    window.onload = function() {
    typeText(); // Start typing animation
    setTimeout(function() {
        const tempScreen = document.getElementById('temporary-screen');
        tempScreen.classList.remove('fade-in');
        tempScreen.classList.add('fade-out');

        setTimeout(function() {
            tempScreen.style.display = 'none';
            const mainContent = document.getElementById('main-content');
            mainContent.style.display = 'block';
            mainContent.classList.remove('fade-out');
            mainContent.classList.add('fade-in');
            mainContent.style.opacity = '1';
        }, 1000);
    }, 4500);
};

</script>
</body>
</html>
